@tailwind base;
@tailwind components;
@tailwind utilities;

.white {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
  color: #2f3888;
}

a {
  text-decoration: none;
  color: #2f3888;
  font-weight: bold !important;
}

a:hover {
  color: #2f3888;
  font-weight: bold;
  text-decoration: none;
}

a:hover .text-element::before {
  opacity: 0.8;
}
a .text-element {
  color: #2f3888;
  font-weight: bold;
  text-decoration: none;
}
a:hover .text-element {
  color: #2f3888;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
}

a.icon-link {
  color: #2f3888;
  font-size: 24px;
}

a.navbar-collapse-link {
  color: #2f3888;
  font-weight: 400 !important;
}
a.active,
button.active {
  color: #2f3888 !important;
  font-weight: bold !important;
}

/** Slider css **/

.react-slideshow-container .default-nav {
  width: 50px;
  height: 50px;
  padding: 8px;
}

/** Bottoni per i menu */

@media (min-width: 960px) {
  .bordo-laterale {
    border-right: 1px solid grey;
  }
}

.backgroundline {
  background-color: #2f3888;
}

a:hover.icon-ista {
  opacity: 0.5;
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px !important;
  }
}
